$color-neutral: #ccdfde;
$color-primary: #800080;
$color-secondary: #7e7a7a;
$color-warning: #b70000;

// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;

// Large tablets and desktops
$screen-xl-min: 1200px;
